/*Design pro telefon + obecny*/

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

main{
}



header#masthead{display: none;}
nav#mobile-navigation{display: none;}



* {
  box-sizing: border-box;
}


h1 {
    color:black;
    font-size: 32;
}

/* LOCATION part*/

.location {
  background-image: url("./pictures/mainpage/people.jpg");
  background-size: cover;
  width: 100%;
  height: 25em;
  display: flex;
}

.location::after {
  content: '\A';
  position: absolute;
  z-index: 1;
  width: inherit; height: inherit;
  top:inherit; left:inherit;
  background:rgba(0,0,0,0.7);
}

.location__text {
  z-index: 2;
  display: inline;
  width: 100%;
  height: fit-content;
  text-align: center;  
  color:white;
  font-weight: 900;
  padding-top: 8em;
  white-space: nowrap;
}

.location__text .pagename {
  font-size: 5em;
}

.location__text .path {
  font-size: 2em;  
}

/* LOCATION part END*/


/* EXPERIENCE part*/

.circle {
  width: 10em;
  height: 10em;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 50%;
  background-color: #e95721;
}


.experience .main--img {
  height: 32em;
  width: 100%;
  margin-right: 3em;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.experience .secondary--img {
  top:-13.5em;
  left:3em;
  height: 15em;
  width: 40%;
  object-fit: cover;
  position: relative;
  float: right;
  z-index: 1;
}

.upper {
  top:-17.5em;
  left: 21.5em;
  z-index: 3;
}

.lower {
  background-color: white;
  top:-27em;
  left: 22em;
  z-index: 2;
}

.circle .text {
  padding-top: 2em;
  color: white;
  position: relative;
  z-index: 2;
}

.circle span {
  font-size: 3em;
}

.experience {
  display: flex;
  padding: 2em;
  padding-top: 7em;  
  padding-bottom: 8em;
  height: fit-content;
}

.experience .left {
  width: 50%;
  height: fit-content;
  float: left ;  
  height: 35em;
}

.experience .right {
  width: 35%;
  margin-left: 8em;
  float: right ;  
  height: fit-content;
}

.introduction {
  color:#e95721;
  font-size: 1.2em;
}

.experience h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h1 span {
  font-weight: 900;
}

.right--info {
  top: inherit;
  height: fit-content;
  padding-left: 1.5em;
  border-left: 0.2em solid orange;
  margin-bottom: 1.5em;

}

.qualities{
  display: inline-flex;
  padding-bottom: 1.8em;
}

.lined {  
  border-bottom: 0.05em solid rgba(177, 175, 175, 0.445);
}

h2 {
  margin-bottom: 0.5em;
}

.qualities img {
  padding-top: 0.5em;
  height: 6em;
}

/* EXPERIENCE part END*/

/* STATISTICS part */

.statistics {
  width: 80%;
  top:inherit;
  display:inline-flex;
  justify-content: space-between;
  position: absolute;  
  margin-left: 10%;
  margin-right: 10%;
}

.statistics .card {
  display: inline-flex;
  background-color: white;
  height: fit-content;
  position: relative;
  top: -3.5em;
  padding: 0.5em 1em 0.5em 0em;
  border-top: 0.2em solid #e95721;
}

.statistics img {
  height: 5.5em;
  padding-top: 0.4em;
}

.statistics h2 {
  margin-bottom: 0.2em;
  color: #e95721;
}

/* STATISTICS part END*/

/* GOALS part */

.goals {
  background-color: rgb(232, 250, 244);
  padding-top: 8em;  
  padding-bottom: 4em;  
  display: flex;
}

.goals .left {
  width: 40%;
  margin-left: 10%;
  float: left;
}

.goals .right {
  width: 65%;
}

.goals h1 {
  font-size: 3em;
  margin-top: 0.3em;
}

.percentages {
  display: inline-flex;
  margin-left: -4em;
  height: 100%;
}

.percentages img {
  height: 8em;
}
.percentages--card{
  width: 40%;
  margin: 1em;
}

.percentages h3 {
  margin-left: 2.3em;
}

.goals .promo {
  width: 75%; 
  max-width: 40em; 
  float: right;
  margin-top: 3%;
  margin-right: 18%;
}

/* GOALS part END */

/* LECTORS part */

.lectors{
  display: inline;
  height: fit-content;
}

.lectors h1{

}

.lectors h2{
  margin-top: -0.2em;
  padding-top: 1.2em;
  margin-bottom: 0;
}

.lectors h4{
  border-bottom: rgba(99, 110, 121, 0.651) 0.05em solid;
  margin-top: 0;
  padding-bottom: 1.4em;
  margin-bottom: 0.8em;
}

.standart--heading{
  text-align: center;  
  padding-top: 8%;
}

.lectors--cards{
  display: inline-flex;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 10%;
}

.lectors--cards .card{
  display: inline;
}


.lectors .card--info {
  border: rgba(99, 110, 121, 0.651) 0.05em solid;
  border-top: 0;  
  padding: 2em;
  width: 100%;
  padding-top: 0;
  height: 10em;
}

.lectors--cards .photo {
  height: 15em;
  width: 15em;
  object-fit: cover;
}

.lectors .courses {
  display: inline-flex;
}

.lectors .courses img {
  height: 1em;
  width: 1em;
  object-fit: cover;
  margin-right: 0.5em;
}

.upbtn {
  color: #ffffff;
  background-color:#e95721;
  padding-left: none;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  padding-top: 0.5em;    
}

.uproll-content {
  display: none;
  position: absolute;
  min-width: 160px;
  bottom: -1.5em;;
  z-index: 2;
}
.uproll-content a {
  color: gray;
  background: rgb(255, 255, 255);
  padding: 8px;
  text-decoration: none;
  width: fit-content;
  display: block;
}

.uproll-content img {    
  height: 2em;
  width: 2em;  
  object-fit: cover;
}

.lectors--cards .dropdown {
  top:-11.2em;
  left: 8.8em;
}

.uproll-content a:hover {color: white; background:#e95721;}
.dropdown:hover .uproll-content {display: block;}
.dropdown:hover .upbtn {background-color: #e95621f3 ;color:sandybrown;}


/* LECTORS part END */

/* FEEDBACK part */

.feedback {
  background-image: url("./pictures/media/group-students.jpg");
  position: relative;
  width: 100%;
  height: fit-content;
  display: block;
}

.feedback h1 {
  color: #ffffff;
}

.feedback::after {
  content: '\A';
  position: absolute;
  z-index: 1;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.75);
}

.feedback--content {
  position: relative;  
  z-index: 2;
}

.feedback--heading{
  text-align: center;  
  padding-top: 8%;
  color: #ffffff;
  z-index: 2;
}

.feedback .reviews {
  display: inline-flex;
  align-items: center;
}

.reviews .left {
  background: #ffffff;
  padding: 3em;
  float: left;
  margin-left: 10%;
  margin-top:5%;
  width: 35%;
  margin-right: 5%;
  margin-bottom: 10%;
}

.reviews .text{
  font-size: 1.5em;
  margin-top:0;
}

.reviews .underline{
  color: darkgrey;
}

.commentator {
  display: inline-flex;
  align-items: center;
}

.commentator-pic {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  object-fit: cover;
}

.commentator--nav  {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.smallbutton {
  color: rgb(255, 255, 255);
  background-color: #e95721;
  font-size: 1em;
  height: 2em;
  font-weight: 700;
  width: fit-content;
  white-space: nowrap;
  margin: 8px 0;
  border: none;
  align-items: center;
  vertical-align:middle;
}

.commentator--info {
  margin-left: 1em;
}

.commentator--nav img {
  height: 4em;
  float: right;
}

.commentator--buttons {
  display: inline;
}

.commentator h2 {
  margin-bottom: 0.2em;
}

.commentator h3 {
  margin-top: 0.2em;
}

.reviews .right {
  float: right;
  margin-left: 5%;
  margin-top:5%;
  width: 40%;
  height: 30em;
  margin-right: 10%;
  margin-bottom: 10%;
}

.gallery {
  display: inline-flex;
}

.gallery img {
  height: 8em;
  width: 8em;  
  position: relative;
  object-fit: cover;
  margin: 1em;
}

.gallery .column {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 30em;
  align-items: center;
  justify-content: space-evenly;
}

.gallery .third {
  position: relative;
  top:-3em;
}

.white {  
  background-color: white;  
  top: -11.8em;
  left: 0.4em;
}

.orange {
  background-color: #e95721;
  top: -34.2em;
  left: 0.4em;
}

.feedback .square {
  position: relative;
  height: 8em;
  width: 8em;
  z-index: -1;

}

/* FEEDBACK part END */

/* NEWSnBLOG part */

.newsnblog {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.blog--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-bottom: 10%;
}

.blog--cards .card {
  margin: 2em;  
  width: 25em;
  align-self: center;
}

.blog--cards .bottom {
  top:-1em;
  z-index: 1;
  border: rgba(99, 110, 121, 0.651) 0.05em solid;
  display: flex;
  flex-direction: column;
  border-top: none;
  padding: 1em;
  position: relative;
  padding-top: -1em;
}

.blog--cards .img--main {
  height: 25em;
  width: 25em;
  position: relative;
  z-index: 2;
  object-fit: cover;
}

.blog--cards .info {
  display: inline-flex;
  align-items: center;
  margin-top: 1em;
  padding: 0.4em;
}
.blog--cards .text {
  margin: 0 1em;
}

.blog--cards .icon {
  height: 2em;
  width: 2em;
  object-fit: cover;
}

.blog--cards .holder {  
  align-items: center;
  display: inline-flex;
}

.blog--cards .author {
  display: inline-flex;
  align-items: center;
} 

.blog--cards .author--img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1em;
}

.newsnblog .buttonholder {
  width: 100%;
  height: 0.5em;
}

.newsnblog h2 {
  max-height: 2.5em;
  overflow: hidden;
}

.newsnblog .smallbutton {
  float: right;
  height: 3em;
  width: 3em;
  position: relative;
  left: 1em;
  bottom: 2em;
  
}
/* NEWSnBLOG part END */


li{
  margin: 0px 0px 10px 0px;
}

.center-content{
  margin-left: 20%;
  margin-right: 20%;
}




  .top-background {
    position: relative;
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-left: none;
    box-sizing: border-box;
    z-index: -1
  }

  .sponsors {
    font-size: 64px;
    color: white;
    text-align: center;
    padding: 60px 0;
  }
  
  .spacer {
    width:auto;
    height: 800px;
    background-color: aliceblue;
  }

  .spacer-small {
    height: 600px;
  }
  /* --------------------------------------------------------*/

  /* header part */
 
  nav {
    width: 100%;
    background-color: #e9f3f7;
    font-size: 18px;
    line-height: 22px;
    color: #062a35;
    font-weight: 500;
    font-family: "Roboto";
    padding-bottom: 10px;
    padding: 20px;
  }

  nav .top__logo{
    justify-content: left;
    font-size: 34px;
    color: #062a35;    
    float: left;
    vertical-align: middle;
  }

  .navigation {
    display: inline;
    width: 100%;
    justify-content: space-between;
    z-index:2;
  }

  .dropbtnalt {
    color: black;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .dropdown {
    position: relative;
    display: inline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: gray;
    background: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: white; background: sandybrown;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color:dodgerblue;}
  .dropdown:hover .dropbtnalt {color: sandybrown;}

  .downarrow {
    display: none;
  }

  .heading {
    display: inline-flex;    
    text-align: center;
  }
  
  .heading .signin {
    display: none;
    height: 50px;
  }

  .login {
    display: none;
  }


  nav .media {
    background-color: white;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login .orange {
    background-color: orange;
  }

  .login .transparent {
    background: none;
    margin-left: 2em;
  }

  nav img {
    vertical-align: middle;
        align-self: center;
    height: 40px;
  }

  .signin {
    display: inline-flex;    
    background-color: white;
  }

  .signin .text {
    white-space: nowrap;
    vertical-align: middle;
    line-height: 28px;
    padding: 10px;
    padding-right: 20px;
  }

  /* header part END */

  /* --------------------------------------------------------*/

  /* footer part */  
  footer {
    color: white;
    position: relative;
    overflow: hidden;
    height: fit-content;
    background-color: #052935;
    resize: vertical;
    overflow: auto;
    
  }

  
  footer .content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }

  footer .top {
    display: inline;    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .top__logo{
    font-size: 45px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    display: inline-flex;
    font-family: "Roboto";
    width: 100%;
    justify-content: center;
  }

  .top__logo span {    
    font-weight: 900;
  }

  .top__logo img {
    height: 46px;
    padding-right: 20px;    
    align-self: center;
  }

  .top__logo .text {
    display: inline-block;
    align-self: center;
  }

  .top__socials {    
    justify-content: center;
    text-align: center;    
    width: 100%;
  }

  .top__socials .text {
    padding-left: 0;
  }

  .top .media{
    padding: 10px;
    background: none;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Font Awesome5 Brands";
    vertical-align: middle;
    display: inline-flex;
  }

  .top__socials img {
    width: 50px;
  }

  footer .legend {
    display: inline;
    width: 100%;
    justify-content: space-between;
  }

  .legend .group {
    padding: 20px;
    
    text-align: center;
  }

  .legend .heading {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "IBM Plex Sans";
  }

  .legend ul {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
    list-style-type:none; 
    padding-left: 0; 
    width: max-content;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .legend li {
    
    text-align: center;
  }

  .group__input {
    min-width: 300px;
  }

  .group__input p {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
  }

  .group__input .input {
    width: 100%;
    display: inline-flex;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #0b3541;
    color: aliceblue;
    font-size: large;
    border: none;
  }

  .defbutton {
    color: rgb(255, 255, 255);
    background-color: #e95721;
    font-size: 1em;
    height: 4em;
    font-weight: 700;
    width: fit-content;
    padding: 12px 40px;
    white-space: nowrap;
    margin: 8px 0;
    border: none;    
  }
  
  .embig{    
    vertical-align: middle;
    font-size: 2em;
  }

  footer .copyright {
    font-size: 15px;
    line-height: 32px;
    color: #94a7b5;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    background-color: #0b3541;
  }
  /* footer part END */



   /* tablet */

  @media (min-width: 580px) {
   

    .nav-menu{
       display: inline-flex;
    }

    .downarrow {
      display: inline;
      vertical-align: text-top;
      
      font-weight: bold;
      font-size: 0.8em;
    }
    
    footer .content {
      margin-left: 10%;
      margin-right: 10%;
    }

    .navigation {
      display: inline-flex;
    }

    .dropbtnalt{
      margin-right: 20px;
    }
    
    

    .heading .signin {
      display: flex;
      float: right;
    }

    nav .heading{
      width: 100%;
    }

  }

    /* For desktop: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .nav-menu{
       display: inline-flex;
    }
    
    footer .content {
      margin-left: 20%;
      margin-right: 20%;
    }



    
  }

  @media only screen and (min-width: 1200px) {
    
    nav{
      display: inline-flex;
    }

    .heading .signin {
      display: none;
    }

    .navigation {
      justify-content: flex-start;
      align-self:center;
    }

    footer .legend {
      display: inline-flex;
    }

    footer .top {
      display: inline-flex;
      align-items: center;
    }
    
    .top__socials {
      display: inline-flex;
      margin-left: 5%;      
      justify-content: space-between;
    }

    .legend .group {
      text-align: left;
    }

    .top__logo{
      width: fit-content;
      justify-content: left;
    }

    .login {
      display: inline-flex;
      justify-content: space-between;
    }

    nav .heading{
      width: fit-content;      
      margin-right: 5em;
    }

    nav .media img {
      align-self: center;
      height: 40px;
    }

  
  }