/*Design pro telefon + obecny*/

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

main{
}



header#masthead{display: none;}
nav#mobile-navigation{display: none;}



* {
  box-sizing: border-box;
}


h1 {
    color:black;
    font-size: 32;
}

/* LOCATION part*/

.location {
  background-image: url("./pictures/mainpage/people.jpg");
  width: 100%;
  height: 25em;
  display: flex;
}

.location::after {
  content: '\A';
  position: absolute;
  z-index: 1;
  width: inherit; height: inherit;
  top:inherit; left:inherit;
  background:rgba(0,0,0,0.7);
}

.location__text {
  z-index: 2;
  display: inline;
  width: 100%;
  height: fit-content;
  text-align: center;  
  color:white;
  font-weight: 900;
  padding-top: 8em;
  white-space: nowrap;
}

.location__text .pagename {
  font-size: 5em;
}

.location__text .path {
  font-size: 2em;  
}

/* LOCATION part END*/


/* EXPERIENCE part*/

.circle {
  width: 10em;
  height: 10em;
  text-align: center;
  display: flex;
  border-radius: 50%;
  background-color: #e95721;
}

.circle .text {
  padding-top: 2em;
  color: white;
}

.circle span {
  font-size: 3em;
}

.experience {
  display: flex;
  padding: 2em;
  padding-top: 7em;  
  padding-bottom: 8em;
}

.experience .left {
  width: 50%;
  float: left ;
}

.experience .right {
  width: 35%;
  float: right ;
}

.introduction {
  color: orange;
  font-size: 1.2em;
}

.experience h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h1 span {
  font-weight: 900;
}

.right--info {
  top: inherit;
  height: fit-content;
  padding-left: 1.5em;
  border-left: 0.2em solid orange;
  margin-bottom: 1.5em;

}

.qualities{
  display: inline-flex;
  padding-bottom: 1.8em;
}

.lined {  
  border-bottom: 0.05em solid rgba(177, 175, 175, 0.445);
}

h2 {
  margin-bottom: 0.5em;
}

.qualities img {
  padding-top: 0.5em;
  height: 6em;
}

/* EXPERIENCE part END*/

/* STATISTICS part */

.statistics {
  width: 100%;
  top:inherit;
  display:inline-flex;
  justify-content: space-evenly;
  position: absolute;
}

.statistics .card {
  display: inline-flex;
  background-color: white;
  height: fit-content;
  position: relative;
  top: -3.5em;
  padding: 0.5em 1em 0.5em 0em;
  border-top: 0.2em solid #e95721;
}

.statistics img {
  height: 5.5em;
  padding-top: 0.4em;
}

.statistics h2 {
  margin-bottom: 0.2em;
  color: #e95721;
}

/* STATISTICS part END*/

/* GOALS part */

.goals {
  background-color: rgb(232, 250, 244);
  padding-top: 8em;  
  padding-bottom: 4em;  
  display: flex;
}

.goals .left {
  width: 40%;
  margin-left: 10%;
  float: left;
}

.goals .right {
  width: 60%;
  float: right;
}

/* GOALS part END */

li{
  margin: 0px 0px 10px 0px;
}

.center-content{
  margin-left: 20%;
  margin-right: 20%;
}




  .top-background {
    position: relative;
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-left: none;
    box-sizing: border-box;
    z-index: -1
  }

  .sponsors {
    font-size: 64px;
    color: white;
    text-align: center;
    padding: 60px 0;
  }
  
  .spacer {
    width:auto;
    height: 800px;
    background-color: aliceblue;
  }

  .spacer-small {
    height: 600px;
  }
  /* --------------------------------------------------------*/

  /* header part */
 
  nav {
    width: 100%;
    background-color: #e9f3f7;
    font-size: 18px;
    line-height: 22px;
    color: #062a35;
    font-weight: 500;
    font-family: "Roboto";
    padding-bottom: 10px;
    padding: 20px;
  }

  nav .top__logo{
    justify-content: left;
    font-size: 34px;
    color: #062a35;    
    float: left;
    vertical-align: middle;
  }

  .navigation {
    display: inline;
    width: 100%;
    justify-content: space-between;
    z-index:2;
  }

  .dropbtnalt {
    color: black;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
  }
  
  .dropdown {
    position: relative;
    display: inline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dropdown-content a {
    color: gray;
    background: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: white; background: sandybrown;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color:dodgerblue;}
  .dropdown:hover .dropbtnalt {color: sandybrown;}

  .downarrow {
    display: none;
  }

  .heading {
    display: inline-flex;    
    text-align: center;
  }
  
  .heading .signin {
    display: none;
    height: 50px;
  }

  .login {
    display: none;
  }


  nav .media {
    background-color: white;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login .orange {
    background-color: orange;
  }

  .login .transparent {
    background: none;
    margin-left: 2em;
  }

  nav img {
    vertical-align: middle;
        align-self: center;
    height: 40px;
  }

  .signin {
    display: inline-flex;    
    background-color: white;
  }

  .signin .text {
    white-space: nowrap;
    vertical-align: middle;
    line-height: 28px;
    padding: 10px;
    padding-right: 20px;
  }

  /* header part END */

  /* --------------------------------------------------------*/

  /* footer part */  
  footer {
    color: white;
    position: relative;
    overflow: hidden;
    height: fit-content;
    background-color: #052935;
    resize: vertical;
    overflow: auto;
    
  }

  
  footer .content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }

  footer .top {
    display: inline;    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .top__logo{
    font-size: 45px;
    letter-spacing: -1px;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    display: inline-flex;
    font-family: "Roboto";
    width: 100%;
    justify-content: center;
  }

  .top__logo span {    
    font-weight: 900;
  }

  .top__logo img {
    height: 46px;
    padding-right: 20px;    
    align-self: center;
  }

  .top__logo .text {
    display: inline-block;
    align-self: center;
  }

  .top__socials {    
    justify-content: center;
    text-align: center;    
    width: 100%;
  }

  .top__socials .text {
    padding-left: 0;
  }

  .top .media{
    padding: 10px;
    background: none;
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Font Awesome5 Brands";
    vertical-align: middle;
    display: inline-flex;
  }

  .top__socials img {
    width: 50px;
  }

  footer .legend {
    display: inline;
    width: 100%;
    justify-content: space-between;
  }

  .legend .group {
    padding: 20px;
    
    text-align: center;
  }

  .legend .heading {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "IBM Plex Sans";
  }

  .legend ul {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
    list-style-type:none; 
    padding-left: 0; 
    width: max-content;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .legend li {
    
    text-align: center;
  }

  .group__input {
    min-width: 300px;
  }

  .group__input p {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
  }

  .group__input .input {
    width: 100%;
    display: inline-flex;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #0b3541;
    color: aliceblue;
    font-size: large;
    border: none;
  }

  .defbutton {
    color: rgb(255, 255, 255);
    background-color: #e95721;
    font-size: 1em;
    height: 4em;
    font-weight: 700;
    width: fit-content;
    padding: 12px 40px;
    white-space: nowrap;
    margin: 8px 0;
    border: none;    
  }
  
  .embig{    
    vertical-align: middle;
    font-size: 2em;
  }

  footer .copyright {
    font-size: 15px;
    line-height: 32px;
    color: #94a7b5;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    background-color: #0b3541;
  }
  /* footer part END */



   /* tablet */

  @media (min-width: 580px) {
   

    .nav-menu{
       display: inline-flex;
    }

    .downarrow {
      display: inline;
      vertical-align: text-top;
      
      font-weight: bold;
      font-size: 0.8em;
    }
    
    footer .content {
      margin-left: 10%;
      margin-right: 10%;
    }

    .navigation {
      display: inline-flex;
    }

    .dropbtnalt{
      margin-right: 20px;
    }
    
    

    .heading .signin {
      display: flex;
      float: right;
    }

    nav .heading{
      width: 100%;
    }

  }

    /* For desktop: */
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .nav-menu{
       display: inline-flex;
    }
    
    footer .content {
      margin-left: 20%;
      margin-right: 20%;
    }



    
  }

  @media only screen and (min-width: 1200px) {
    
    nav{
      display: inline-flex;
    }

    .heading .signin {
      display: none;
    }

    .navigation {
      justify-content: flex-start;
      align-self:center;
    }

    footer .legend {
      display: inline-flex;
    }

    footer .top {
      display: inline-flex;
      align-items: center;
    }
    
    .top__socials {
      display: inline-flex;      
      justify-content: space-evenly;
    }

    .legend .group {
      text-align: left;
    }

    .top__logo{
      width: fit-content;
      justify-content: left;
    }

    .login {
      display: inline-flex;
      justify-content: space-between;
    }

    nav .heading{
      width: fit-content;      
      margin-right: 5em;
    }

    nav .media img {
      align-self: center;
      height: 40px;
    }

  
  }