/*Design pro telefon + obecny*/
html {
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
}

main{
  font-family: 'Roboto', sans-serif;  
  color: #062a35;
}



header#masthead{display: none;}
nav#mobile-navigation{display: none;}



* {
  box-sizing: border-box;
}


h1 {
    color:black;
    font-size: 32;
}

/* LOCATION part*/

.location {
  background-image: url("./pictures/mainpage/people.jpg");
  background-size: cover;
  width: 100%;
  height: 25em;
  display: flex;
}

.location::after {
  content: '\A';
  position: absolute;
  z-index: 1;
  width: inherit; height: inherit;
  top:inherit; left:inherit;
  background:rgba(0,0,0,0.7);
}

.location__text {
  z-index: 2;
  display: inline;
  width: 100%;
  height: fit-content;
  text-align: center;  
  color:white;
  font-weight: 900;
  padding-top: 8em;
  white-space: nowrap;
}

.location__text .pagename {
  font-size: 5em;
}

.location__text .path {
  font-size: 2em;  
}

/* LOCATION part END*/


/* EXPERIENCE part*/

.circle {
  width: 10em;
  height: 10em;
  text-align: center;
  display: flex;
  position: relative;
  border-radius: 50%;
  background-color: #e95721;
}


.experience .main--img {
  height: 32em;
  width: 100%;
  margin-right: 3em;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.experience .secondary--img {
  display: none;
  top:-13.5em;
  left:3em;
  height: 15em;
  width: 40%;
  object-fit: cover;
  position: relative;
  float: right;
  z-index: 1;
}

.experience .icon {
  height: 100%;
  font-size: 2em;
}

.upper {
  top:-17.5em;
  left: 43%;
  z-index: 3;
}

.lower {
  background-color: white;
  top:-27em;
  left: 44%;
  z-index: 2;
}

.circle .text {
  padding-top: 2em;
  color: white;
  position: relative;
  z-index: 2;
}

.circle span {
  font-size: 3em;
}

.experience {
  display: flex;
  flex-direction: column;
  padding: 2em;
  padding-top: 7em;  
  padding-bottom: 8em;
  height: fit-content;
}

.experience .left {
  width: 90%;
  height: fit-content;
  float: left ;  
  height: 35em;
}

.experience .right {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 5%;
  float: right ;  
  height: fit-content;
}

.introduction {
  color:#e95721;
  font-size: 1.2em;
}

.experience h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h1 span {
  font-weight: 900;
}

.right--info {
  top: inherit;
  height: fit-content;
  padding-left: 1.5em;
  border-left: 0.2em solid orange;
  margin-bottom: 1.5em;

}

.qualities{
  display: inline-flex;
  padding-bottom: 1.8em;
  align-items: center;
}

.lined {  
  border-bottom: 0.05em solid rgba(177, 175, 175, 0.445);
}

h2 {
  margin-bottom: 0.5em;
}

.qualities img {
  padding-top: 0.5em;
  height: 6em;
}

/* EXPERIENCE part END*/

/* STATISTICS part */

.statistics {
  width: 90%;
  top:inherit;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;  
  height: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}


.statistics .card {
  display: inline-flex;
  background-color: white;
  height: fit-content;
  position: relative;
  width: 22%;
  min-width: 16em;
  margin:  1em 0;
  padding: 1em;
  border-top: 0.2em solid #e95721;
  box-shadow: rgba(0, 0, 0, 0.246) 0 1em 1em 0;
}

.statistics .holder {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.statistics h2 {
  margin-top: 0;
}

.statistics i {
  color:#e95721;
  font-size: 2em;
  margin-right:0.5em;
  margin-left:0.7em;
  margin-top: auto;
  margin-bottom: auto;
}

.statistics h2 {
  margin-bottom: 0.2em;
  color: #e95721;
}

/* STATISTICS part END*/

/* GOALS part */

.goals {
  background-color: rgb(232, 250, 244);
  padding-top: 8em;  
  padding-bottom: 4em;  
  display: flex;
  flex-direction: column;
}

.goals .left h3 {
  margin: 1em 0;
}

.goals .left {
  width: 80%;
  margin: 0 10%;
  float: left;
  text-align: center;
}

.goals .right {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.goals h1 {
  font-size: 3em;
  margin-top: 0.3em;
}

.percentages {
  display: inline-flex;
  margin-left: -4em;
  height: 100%;
  justify-content: space-evenly;
}

.percentages img {
  height: 8em;
}
.percentages--card{
  width: 40%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.percentages--card i {
  font-size: 5em;
  margin-bottom: 0.6em;
  color: #e95721;
}

.percentages h3 {
  margin-left: 2.3em;
}

.goals .promo {
  width: 75%; 
  max-width: 40em; 
  object-fit: cover;
  float: right;
}

/* GOALS part END */

/* LECTORS part */

.lectors{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.lectors h1{

}

.lectors h2{
  margin-top: -0.2em;
  padding-top: 1.2em;
  margin-bottom: 0;
}

.lectors h4{
  border-bottom: rgba(99, 110, 121, 0.651) 0.05em solid;
  margin-top: 0;
  padding-bottom: 1.4em;
  margin-bottom: 0.8em;
}

.standart--heading{
  text-align: center;  
  padding-top: 8%;
}

.green {
  background-color: rgb(232, 250, 244);
}

.lectors--cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-evenly;
  width: 90%;
  margin-bottom: 10%;
}

.lectors--cards .card{
  display: inline;
  margin: 1em;
}

.lectors--cards .row {
  display: flex;
  flex-direction: row;
  font-weight: 500;
}


.lectors--cards .courses  {
  margin: 1.5em;
}

.lectors .card--info {
  border: rgba(99, 110, 121, 0.651) 0.05em solid;
  background-color: white;
  border-top: 0;  
  padding: 2em;
  width: 100%;
  padding-top: 0;
  height: 10em;
}

.lectors .course--cards h4{
  font-weight: normal;
}

.lectors--cards .photo {
  height: 16em;
  width: 16em;
  object-fit: cover;
}

.lectors .courses {
  display: flex;
  flex-direction: row;
  align-items: center; 
  font-weight: 500; 
}

.lectors .courses .fas {
  padding-right: 1.5em;
  color: #e95721;
}

.lectors .courses img {
  height: 1em;
  width: 1em;
  object-fit: cover;
  margin-right: 0.5em;
}

.upbtn {
  color: #ffffff;
  background-color:#e95721;
  padding-left: none;
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  padding-top: 0.5em;    
}

.uproll-content {
  display: none;
  position: absolute;
  min-width: 160px;
  bottom: .01em;
  z-index: 2;
}

.uproll-content a {
  color: white;
  background: rgb(255, 255, 255);
  text-decoration: none;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.uproll-content .icon {
  font-size: 1.45em;
  margin-right: 0;
  margin: 0.25em;
}

.uproll-content img {    
  height: 2em;
  width: 2em;  
  object-fit: cover;
}

.lectors--cards .dropdown {
  top:-11.9em;
  left: 8.8em;
}

.uproll-content a:hover {color: white; background:#e95721;}
.dropdown:hover .uproll-content {display: block;}
.dropdown:hover .upbtn {background-color: #e95621f3 ;color:sandybrown;}


/* LECTORS part END */

/* FEEDBACK part */

.feedback {
  background-image: url("./pictures/media/group-students.jpg");
  position: relative;
  width: 100%;
  height: fit-content;
  display: block;
}

.feedback h1 {
  color: #ffffff;
}

.feedback::after {
  content: '\A';
  position: absolute;
  z-index: 1;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.75);
}

.feedback--content {
  position: relative;  
  z-index: 2;
}

.feedback--content .person {
  display: none;
}

.feedback--content .active {
  display: block;
}

.feedback--content .person h2 {
  margin-top: 0.2em;
}

.feedback--content .person h3 {
  margin: 0;
}

.feedback--heading{
  text-align: center;  
  padding-top: 8%;
  color: #ffffff;
  z-index: 2;
}

.feedback .reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews .left {
  background: #ffffff;
  padding: 3em;
  float: left;
  margin-left: 10%;
  margin-top:5%;
  width: 65%;
  min-width: 20em;
  margin-right: 5%;
  margin-bottom: 10%;
}

.reviews .text{
  font-size: 1.5em;
  margin-top:0;
}

.reviews .underline{
  color: darkgrey;
}

.commentator {
  display: inline-flex;
  align-items: center;
}

.commentator-pic {
  height: 4em;
  width: 4em;
  border-radius: 50%;
  object-fit: cover;
}

.commentator--nav  {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.smallbutton {
  color: rgb(255, 255, 255);
  background-color: #e95721;
  font-size: 1em;
  height: 2em;
  font-weight: 700;
  width: fit-content;
  white-space: nowrap;
  margin: 8px 0;
  border: none;
  align-items: center;
  vertical-align:middle;
  cursor: pointer;
}

.commentator--info {
  margin-left: 1em;
}

.commentator--nav img {
  height: 4em;
  float: right;
}

.commentator--buttons {
  display: inline;
}

.commentator h2 {
  margin-bottom: 0.2em;
}

.commentator h3 {
  margin-top: 0.2em;
}

.reviews .right {
  height: 30em;
  margin: 10%;
}

.gallery {
  display: inline-flex;
}

.gallery img {
  height: 8em;
  width: 8em;  
  position: relative;
  object-fit: cover;
  margin: 1em;
}

.gallery .column {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  height: 30em;
  align-items: center;
  justify-content: space-evenly;
}

.gallery .third {
  position: relative;
  top:-3em;
}

.feedback .white {  
  background-color: white;  
  top: -11.8em;
  left: 0.4em;
}

.feedback .orange {
  background-color: #e95721;
  top: -34.2em;
  left: 0.4em;
}

.feedback .square {
  position: relative;
  height: 8em;
  width: 8em;
  z-index: -1;

}

/* FEEDBACK part END */

/* NEWSnBLOG part */

.newsnblog {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.newsnblog a{
  height: 0;
}

.blog--cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-bottom: 10%;
}

.blog--cards .card {
  margin: 2em;  
  width: 22em;
  align-self: center;
}

.blog--cards .bottom {
  top:-1em;
  z-index: 1;
  border: rgba(99, 110, 121, 0.651) 0.05em solid;
  display: flex;
  flex-direction: column;
  border-top: none;
  padding: 1em;
  position: relative;
  padding-top: -1em;
}

.blog--cards .img--main {
  height: 22em;
  width: 22em;
  position: relative;
  z-index: 2;
  object-fit: cover;
}

.blog--cards .info {
  display: inline-flex;
  align-items: center;
  margin-top: 1em;
  padding: 0.4em;
}
.blog--cards .text {
  margin: 0 1em;
}

.blog--cards .icon {
  height: 2em;
  width: 2em;
  object-fit: cover;
}

.blog--cards .holder {  
  align-items: center;
  display: inline-flex;
}

.blog--cards .holder i {
  color: #e95721;
  font-size: 1.5em;
}

.blog--cards .author {
  display: inline-flex;
  align-items: center;
} 

.blog--cards .author--img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1em;
}

.newsnblog .buttonholder {
  width: 100%;
  height: 0.5em;
}

.newsnblog h2 {
  max-height: 2.5em;
  overflow: hidden;
}

.newsnblog .smallbutton {
  float: right;
  height: 4em;
  width: 4em;
  position: relative;
  left: 1em;
  bottom: 3.5em;
  
}
/* NEWSnBLOG part END */

/* COURSE--GALLERY part */

.course--gallery {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.course--gallery .menu {
  display: flex;
  flex-direction: row;
  justify-content: center;  
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2em;
}


.course--gallery .highlited {
  background-color: #e95721;
  color: white;
  border-radius: 1em;
  width: 7em;
  padding: 0.2em 1.5em;
}

.course--gallery .section {
  font-weight: 800;
  margin: 1em;
}

.listing .highlited {
  background-color: #e95721;
  color: white;
  border-radius: 1em;
  width: 7em;
  padding: 0.2em 1.5em;
}

.listing .section {
  font-weight: 800;
  margin: 1em;
}

.course--gallery .listing {
  display: flex;
  flex-direction: column;
}

textarea:focus, input:focus{
  outline: none;
}

.listing .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.listing .course {
  display: flex;
  flex-direction: column;  
  width: 18em;
  margin-bottom: 2em;
  margin: 1em;
  height: fit-content;
}

.listing .standart {  
  display: flex;
  flex-direction: column;  
}

.listing .hidden {  
  display: none;
  flex-direction: column;  
  height: 31.2em;
  background-color: #4267B2;
}

.course--gallery .listing .course:hover .standart {display: none;}
.course--gallery .listing .course:hover .hidden {display: flex;}

.listing .course--img {
  height: 18em;
  width: 18em;
  object-fit: cover;
}

.listing .teacher {
  display: flex;
  flex-direction: row;
  align-items: center;
  top:-2.8em;
  color: white;
}

.listing .holder {
  position: relative;
  height: 0;
}

.listing .hidden .holder {
  position: relative;
  height: fit-content;
}

.listing .hidden .teacher {
  top: 0;
}

.listing .teacher img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin: 1.1em;
}

.listing .orange {
  background-color: #e95721;
  color: white;
}

.listing .text--orange{
  color: #e95721;
  background-color: white;
}

.listing .white {
  background-color: white;
  color: #4267B2;
}

.listing .enroll {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.8em;
}

.listing .enroll--button {
  width: fit-content;
  background-color: white;
  color: #4267B2;
  border-radius: 5em;
  font-weight: 700;
  font-size: 1em;
  padding: 1em;
  border: none;
}

.listing .enroll--button:hover {
  cursor: pointer;
}

.listing .price {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top:-2em;
  left: 12em;
  margin: 0;
  text-align: center;  
  height: 4em;
  width: 4em;
  border-radius: 50%;
}

.listing .hidden .price {
  top: 0em;
  left: 4em;
}

.listing .price span {
  font-size: 1.5em;
}

.listing .blue {
  margin-top: 2.5em;
  background-color: rgb(41, 43, 155);
}

.listing .bottom {
  display: flex;
  flex-direction: column;
  border: rgba(99, 110, 121, 0.651) 0.05em solid;
}

.listing .hidden .bottom {
  border: none;
}

.listing .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listing .stars {
  padding-top: 1.2em;
  margin-right: 1em;
}

.listing h1 {
  font-size: 1.3em;
  margin: 1em;
  margin-top: 0;
  padding-bottom: 1em;
  border-bottom: rgba(99, 110, 121, 0.651) 0.05em solid;
}

.listing .hidden h1 {
  padding-bottom: 0;
  margin: 1em;
  border-bottom: none;
  color: white;
}

.listing .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 0.8em;
}

.hidden .stats .item {
  color: white;
}

.listing p {
  padding: 1.2em;
  color: white;
  margin-bottom: 1em;
}

.hidden .stats .item i {
  margin: 0 0.3em;  
  color: white;
}

.listing .stats .item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.standart .stats .item i{
  margin: 0 0.3em;  
  color: #e95721;
}

/* COURSE--GALLERY part END */

/* COURSE--DETAIL part */

.course--detail{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
}

.course--detail section {
  margin: 5%;
  width: 90%;
  height: fit-content;
}

.course--detail img {
  width: 100%;
  height: 20%;
  object-fit: cover;
}

.lessons--list {
  display: flex;
  flex-direction: column;
  align-items: center;  
  margin-bottom: 5em;
}

.lessons--list .lesson {
  display: flex;
  width: 100%;
  padding: 0.8em;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.001em solid rgba(133, 133, 133, 0.247);
}

.lessons--list .lesson p {
  font-weight: 700;
}

.lessons--list .lesson:hover {
  background-color: #e9f3f7;
}

.lessons--list .fa-play-circle {
  color: #e95721;
}

.questions--list {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.questions--list .question {
  display: flex;
  flex-direction: column;
}

.questions--list .heading {
  text-align: left;
}

.questions--list p {
  font-weight: 700;
}

.questions--list .question--heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.questions--list .fa-angle-right {
  color: #e95721;
}

.questions--list .fa-angle-down {
  display: none;
}

.questions--list .question:hover .fa-angle-right {
  display: none;
}

.questions--list .question:hover .heading {
  color: #e95721;
}

.questions--list .question:hover .fa-angle-down {
  display: inherit;
  color: #e95721;
}

.questions--list .question:hover .description {
  display: flex;
}

.questions--list .description {
  display: none;
  flex-direction: row;
  border: 0.001em solid rgba(133, 133, 133, 0.247);
  align-items: center;
}

.questions--list .description img {
  width: 10em;
  margin: 1em;
}

.questions--list .description p {
  padding: 1em;
  font-weight: normal;
}

.instructors--list {
  display: flex;
  flex-direction: column;
  column-count: 2;
  margin-top: 4em;
  width: 100%;
  justify-content: space-evenly;
}

.instructors--list .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.instructors--list .lector {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: center;
}

.instructors--list img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

.instructors--list h3 {
  margin-top: 0;
}

.course--detail aside {
  margin: 5% 0;
  display: flex;
  flex-direction: column;
}

.course--detail .course--stats {
  display: flex;
  
  width: 100%;
  flex-direction: column;
  border: 0.001em solid rgba(133, 133, 133, 0.247);
}

.course--stats .item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
}

.course--stats .last {
  border-bottom: 0;
}

.course--stats .name {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5em;
}

.course--stats i {
  color: #e95721;
  margin: 0.5em;
  margin-left: 1em;
}

.course--stats p {
  display: flex;
  align-items: center;  
  color: #e95721;
  margin: 0.5em;
  font-size: 1.2em;
}

.course--detail a {
  width: 100%;
  display: flex;
  justify-content: center;
}

.course--detail .enroll--button {
  border: 0;
  background-color: #4267B2;
  color: white;
  padding: 0.7em;
  margin: 0.5em;
  border-radius: 2em;
  font-size: 1.5em;
}

.course--detail .enroll--button:hover {
  cursor: pointer;
}

.course--detail .fa-arrow-right {
  color: white;
  margin: 0;
}

.course--detail aside img {
  margin: 3em 0;
  width: 100%;
  object-fit: cover;
}

/* COURSE--DETAIL part END */

/* EVENT--DETAIL part */

.event--detail{
  display: flex;
  flex-direction: column;
  margin: 5% 15%;
}

.event--heading{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2%;
}

.event--article {
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
  padding-bottom: 2.5em;
}

.event--heading .holder{
  display: flex;
  flex-direction: column;
}

.event--heading .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event--heading .details p {
  font-size: 0.9em;
  margin: 0 0.3em;
}

.event--heading .details i {
  color: #e95721;
  margin: 0 0.2em;
}

.event--heading h1 {
  margin-bottom: 0.5em;
}

.event--heading .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.event--heading .blue {
  background-color: #4267B2;
}

.event--detail .img--main {
  height: 30em;
  width: 100%;
  object-fit: cover;
}

.event--heading .buttons button {
  margin-top: 2%;
  height: 3em;
  margin: 2em;
}

.event--detail .event--importance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event--importance .text {
  width: 100%;
}

.event--importance .map {
  width: 100%;
  object-fit: cover;
  padding: 1.5em 0;
}

.event--importance ul {
  list-style-type: none;
  padding: 0;
}

.event--importance li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event--importance .fa-check-circle {
  font-size: 2em;
  margin-right: 0.5em;
}

.conferences {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

 .conferences .content {
  height: fit-content;
  margin: 1em;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 4em;
}

.conferences .content:after {
  content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    z-index: 1;
    background: -webkit-linear-gradient(top, rgba(110,119,116,0) 0%,rgba(110,119,116,0.01) 1%,rgba(10,14,10,0.51) 51%,rgba(10,8,9,1) 100%);
}

 .conferences img {
  object-fit: cover;
  width: 22em;
  height: 18em;
  position: relative;
  display: block;
}

 .conferences .frame {
  height: 0;
  position: relative;
  z-index: 2;
  top:-10.5em;
  padding: 0.5em;
}

 .frame--price {
  background-color: #e95721;
  color: white;
  font-size: 1.2em;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 14em;
  top: -5em
}

.conferences .frame .frame--info {
  display: flex;
}

.conferences .frame p {
  margin: 0 0.8em;
  color: white;
}

.conferences .frame .frame--name {
  font-size: 1.5em;
  margin: 0.7em 0.5em;
  margin-top: 0.3em;
}

.conferences .frame .frame--info i {
  color: #e95621f3;
}

/* EVENT--DETAIL part END */

/* INSTRUCTOR--DETAIL part */

.instructor--detail {
  background-color: #e9f3f7;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.instructor--detail .column {  
  display: flex;
  flex-direction: column;
  background-color: white;
}

.instructor--cards {
  padding: 5%;
}

.instructor--cards .row {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.instructor--cards .card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1em;
}

.instructor--cards .padded {
  padding: 1em;
}

.instructor--cards p {
  margin: 1em;  
  color: #708389;
}

.instructor--cards .stats {
  width: 100%;
}

.instructor--cards .stats h2 {
  margin: 0;
  font-size: 1.8em;
}

.instructor--cards .stats i {
  font-size: 1.8em;
  padding-right: 0.5em
}

.instructor--cards .photo--description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  padding: 1em;
}

.instructor--cards .photo--description h2 {
  margin-bottom: 0;
}

.instructor--cards  h3 {
  margin:0;
  font-size: 0.9em;
  color: #708389;
}

.instructor--cards .orange {
  color: #e95721;
}

.instructor--cards .photo--description h4 {
  margin: 0;
  margin-bottom: 1em;
  font-size: 0.9em;
  color: #708389;
  padding-bottom: 1em;
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
}
.instructor--cards .photo--description .courses i {
  color: #e95721;
  padding-right: 0.5em;
}


.instructor--cards .card img {
  width: 100%;
}

.instructor--cards .socials--square {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  padding: 2%;
  color: black;
  justify-content: center;
}

.instructor--cards .education .row {
  flex-wrap: wrap;
}

.socials--square i {
  color: black;
  font-size: 1em;
}

.instructor--cards .centered {
  width: 100%;
  justify-content: space-evenly;
}

.instructor--cards .holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.instructor--cards .card .centered img {
  padding: 1em;
  width: 30%;
}

.socials--square .row {
  margin: 3% 2%;
}

.socials--square .white {
  color: white;
}

.socials--square .icon {
  font-size: 0.8em;
  background-color: #e95721;
}

.instructor--cards .education {
  justify-content: space-evenly;
}

.instructor--cards .education i {
  color: #e95721;
  width: 2em;
}

.instructor--cards .education h1 {
  padding-right: 1em;
  font-size: 1.2em;
  white-space: nowrap;
}

.instructor--cards .column .course:hover{
 
}

/* INSTRUCTOR--DETAIL part END */

/* FAQ--QUESTIONS part */

.faq--questions {
  display: flex;
  flex-direction: column;
  background-color: #e9f3f7;
  padding: 5% 0;
}

.faq--questions .row {
  display: flex;
  flex-direction: row;
  width: fit-content;
  justify-content: center;
}

.faq--questions .column {
  display: flex;
  width: fit-content;
  flex-direction: column;
  width: 90%;
}

.faq--questions .leader {
  width: 15em;
  height: 15em;
  object-fit: cover;
  border-radius: 50%;
}

.right--align {
  justify-content: end;
  align-items: flex-end;
  margin: 0 5%;
}

.faq--questions .faq--list {
  background-color: white;
  align-items: flex-start;
  padding: 5%;
  margin: 2em;
  margin: 0 10%;
  width: 80%;
}


.faq--questions .card {
  background-color: white;
  padding: 5%;
  margin: 2em;
  text-align: center;  
  width: 95%;
  min-width: fit-content;
}

.faq--list .underlined {
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
}
.faq--questions .card .far {
  position: relative;
  left: 43%;
  top: -1.9em;
  font-size: 1.5em;
  color: #e95721;
}
.faq--questions .card .holder {
  width: 0;
}

.faq--questions .card input {
  height: 4em;
  width: 100%;
  padding: 0.2em 1em;
  font-size: 1.1em;
  font-weight: 600;
}

.faq--questions .card .long {
  height: 10em;
  padding-bottom: 6em;
}

.career--info {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  margin: 0;
}

.career--info .recruitment {
  padding: 2em;
  color: white;    
  padding: 5% 10%;
  height: 100%;
}

.career--info .recruitment h1 {
  color: white;  
}

.career--info .right {  
  background-color: rgb(26, 7, 134);
}

.career--info .left {
  background-color: rgb(45, 24, 165);
}

.career--info .defbutton {
  border-radius: 10em;
}

.career--info .blue {
  background-color: #3473f0;
}

/* FAQ--QUESTIONS part END*/

/* CONTACT part */

.contact {
  display: flex;
  flex-direction: column;
  background-color: #e9f3f7;
  padding: 5% 10%;
  justify-content: space-evenly;
}

.contact .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5em;
  margin-right: 1em;
}

.contact .standart--heading {
  text-align: left;
}

.contact .row h2 {  
    letter-spacing: -1px;
    font-size: 1.2em;
    margin:0;
}

.contact .row h3 {  
  letter-spacing: -1px;
  font-size: 1em;  
  margin:0;
}

.contact p {
  font-weight: 400;
  color: #708389;
}

.contact .holder {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
}

.contact .row .fas {
  font-size: 1.5em;
}

.contact .socials {
  display: flex;
}

.contact .orange {
  background-color: #e95721;
  color: white;
}

.contact .blue {
  background-color: #2b198f;
  color: white;
}

.contact .bordered {
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
  padding-bottom: 2em;
}

.contact .column {
  display: flex;
  flex-direction: column;
}

.contact .standart--heading {
  padding: 0;
}

.contact .left {
  width: 100%;
}

.contact .right {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact .right img {
  width: 100%;
  padding: 1em;
  min-width: 25em;
}


.form--message {
  text-align: center;
  align-items: center;
  padding: 0 10%;
  background-color: #e9f3f7;
  padding-bottom: 5%;
}

.form--message .credentials .row {
  margin: 1em;
}

.form--message .credentials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.form--message .touch {
  padding: 1em;
}

.form--message .touch .fas{
  position: relative;
  left: 10em;
}

.form--message .row input {
  height: 5em;
  padding: 2em;
  border-radius: 0.5em;
  font-weight: 600;
  font-size: 1.1em;
  border: 0;
}


.form--message .text--area {
  width: 100%;
  height: 15em;
  border-radius: 0.5em;
  margin-bottom: 2em;  
  border: 0;
  min-width: 30em;  
  font-weight: 600;
  font-size: 1.1em;
  padding: 2em;
  padding-bottom: 10em;
}

.address img {
  width: 50%;
  object-fit: cover;
  padding: 5em;
}

/* CONTACT part END*/

/* blog--layout part END*/

.blog--layout {
  display: flex;
  flex-direction: column;
  background-color: #e9f3f7;
  padding: 5% 10%;
}

.blog--layout .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog--layout .column--main h1 {  
    letter-spacing: -1px;    
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: 0.1em;
}

.blog--layout p {
  
color: #708389; 

font-weight: 400;

}

.blog--layout .stats .far {
  padding: 0 0.5em;
  font-size: 1.5em;
  color: #e95721;
}

.blog--layout .column {
  display: flex;
  flex-direction: column;
}

.blog--layout article {  
  background-color: white;
  margin: 5% 0;
}

.blog--layout article img {
  padding: 0;
}

.blog--layout article .text {
  padding: 3em;
}

.blog--layout .blue {
  background-color: #3473f0;
  padding: 2em;
}

.blog--layout .blue p {
  color: white;  
  font-weight: 700;
  font-size: 2em;
}

.blog--layout .column--main {
  width: 100%;
  margin: 0 1.5%;
}

.blog--layout .column--secondary {
  width: 100%;
  margin: 1.5%;
}

.blog--layout .column--secondary article {
  padding: 1em;
}

.blog--layout .column--secondary article h2{
  margin-left: 1em;
  font-weight: 800;
}

.column--secondary .holder--icon .fa-search {
  position: relative;
  left: -3.7em;
  top:-0.4em;
  font-size: 2em;
  color: #e95721;
}

.column--secondary .search {
  font-size: 1.5em;
  padding: 1em;
  border-radius: 5em;
  margin: 0 2em;
  margin-bottom: 1em;
  width: 100%;
}

.blog--layout .column--secondary .news img {
  width: 15em;
  height: 7em;
  object-fit: cover;
  margin-right: 1.5em;
}

.blog--layout .column--secondary .news .row {
  padding: 0.5em;
}

.blog--layout .column--secondary .news .bordered{
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
  padding-bottom: 1.5em;
  margin-bottom: 1em;
}

.blog--layout .column--secondary .news .row h2 {
  font-size: 1.4em;
  margin:0;
  margin-top: 0.5em;
}

.blog--layout .column--secondary .news .row h3 {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-left: 0;  
  color: #708389;
  font-weight: 400;
}

.blog--layout .column--secondary .news .fas {
  color: #e95721;
  padding-right: 0.4em;
}

.blog--layout .photo--gallery img {
  width: 9em;
  height: 9em;
  padding: 0.5em;
  object-fit: cover;
}
.blog--layout  .photo--gallery .row {
  align-items: center;
  justify-content: center;
}

.blog--layout  .photo--gallery .holder--icon {
  height: 0;
}


.blog--layout  .photo--gallery .ig {
  position: relative;
  width: 9em;
  height: 9em;
}

.blog--layout  .photo--gallery .ig::after {
  position: relative;
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background: #e95621ad;  
}

.blog--layout .photo--gallery .fab {
  color: white;
  position: relative;
  font-size: 2em;
  top:-2.6em;
  left: 1.9em;
}

.blog--layout .tags{
  width: 100%;
}

.blog--layout .tags .row {
  align-items: center;
  flex-wrap: wrap;
}

.blog--layout .tags p{
  color: #062a35;
  padding: 1em;
  margin: 1em;
  box-shadow: rgba(0, 0, 0, 0.089) 0 0 0.2em 0.2em;
}

.blog--layout .tags p:hover{
  color: white;
  background-color: #e95721;
}

.blog--layout .column--main h2 {
  color: white;
  background-color: #e95721;
  padding: 0.3em 1.5em;
  border-radius: 0.5em;
  width: fit-content;
}

.blog--layout .column--secondary .filter {
  background:none;
  padding: 0;
}

.blog--layout .column--secondary .filter .row {
  padding: 1em;
  font-size: 1.3em;  
  font-weight: 600;
}

.blog--layout .column--secondary .filter p {  
  color: #062a35;
}

.blog--layout .tips {
  padding-top: 1.5em;
  font-weight: 600;
}


.blog--layout .tips i {
  font-size: 2em;
  color: #e95721;
  padding: 0 0.5em;
}

.blog--layout .filter div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 3em;
  margin: 0.2em 0;
}

.blog--layout .spaced {
  margin: 2em 0;
}

.blog--layout .filter div:hover {
  background-color: #e95721;
}

.blog--layout .filter div:hover p {
  color: white;
}

.blog--layout .socials i {
  font-size: 2em;
  color: #0b3541;
  padding: 0 0.1em;
}

.blog--layout .socials i:hover {
  color: #e95721;
}

.tags .row {
  flex-wrap: flex;
}

.blog--layout .img--aside {
  height: 30em;
  width: 100%;
  object-fit: cover;
}

.blog--layout img {
  width: 100%;
  padding: 3% 0;
}

.blog--layout .blog--end {
  justify-content: space-between;  
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
  padding-bottom: 1em;
}

.blog--layout .blog--author {
  background-color: #e9f3f7;
  width: 100%;
  margin-top: 2em;
}

.blog--layout .round--img {
  width: 7em;    
  height: 7em;
  object-fit: cover;
  border-radius: 50%;
  margin: 1em;
}


.blog--author .socials i {
  font-size: 1.5em;
  padding: 0 0.5em;
  padding-bottom: 1em;
}

.blog--layout .blog--similar{
  margin: 7% 0;
  padding: 5% 0;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
  border-top: 0.001em solid rgba(133, 133, 133, 0.247);
}

.blog--layout .blog--similar img {
  width: 10em;
  height: 5em;
  overflow: hidden;
  object-fit: cover;
  margin: 1em;
}

.blog--layout .blog--similar h3 {
  margin: 0;
}


.blog--layout .blog--comments .row{
  justify-content: space-between;
}
.blog--layout .blog--comments h4 {
  color: #e95721;
  margin: 0.2em 0;
}

.blog--layout .blog--comments h3 {
  margin: 0.2em 0;
}

.blog--layout .blog--comments .reply:hover {
  color: #e95721;
  cursor: pointer;
}

.blog--layout .blog--comments p {
  margin: 0;
}

.blog--layout .blog--similar p {
  font-size: 0.8em;
}

.blog--layout .blog--similar i {
  color: #e95721;
  margin-right: 0.5em;
}

.blog--layout .blog--similar .row {
  margin-right: 0.5em;
}


.blog--comments .comment--sub {
  margin-left: 10%;
}


.blog--layout .form--message {
  background-color: white;
  align-items: flex-start;
  padding: 0;
}

.blog--layout .form--message h1 {
  margin-bottom: 1em;
}

.blog--layout .form--message .holder--icon .fas{
  position: relative;
  left:-2em;
  top:0.2em;
}

.blog--layout .form--message input {
  background: #e9f3f7;
  font-size: 0.9em;
  padding: 1em;
  color: #708389;
}

.blog--layout .form--message .text--area {
  padding-bottom: 10em;
}


/* blog--layout part END*/

/* main--layout part*/

  

  .main--layout img {
    width: 100%;
    height: 45em;
    object-fit: cover;
    object-position: 100% 0;
  }

  .main--layout h2{
    margin: 0;
  }

  .main--layout h1{
    margin: 0.3em 0;
    font-size: 3em;
  }

  .main--search {
    margin-top: 30%;
    width: 90%;    
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.561);
  }

  .main--search .fa-headset {
    color: #e95721;
  }

  .main--search input {
    font-size: 1.2em;
  }

  .black--gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #062a35;
    margin-top: -1%;
    padding-bottom: 5%;
  }

  .black--gallery .defbutton{
    background: none;
    margin-bottom: 10%;
    border: 0.001em solid rgba(133, 133, 133, 0.247);
    box-shadow: black 0 1em 2em 0;
    cursor: pointer;
  }

  .black--gallery .course {
    margin: 1em 3em;
    background-color: white;
  }

  .black--gallery .gallery--heading{
    color: white;
    padding-top: 5%;
    padding-bottom: 2%;
  }

  .main--layout .holder{
    display: flex;
    flex-direction: column;
    padding: 1em;    
    width: 100%;
  }

  .holder--icon{
    width: 0;
  }

  .holder--icon .fas {
    color: #e95721;    
    font-size: 1.5em;
    top: -3em;
    left: 38%;
  }

  .main--layout .search {
    display: flex;
    align-items: center;
    background: white;    
    justify-content: space-between;
    padding: 0 1em;
  }

  .main--layout .search input {
    background: none;
    border: none;
    height: 100%;
  }

  .main--layout .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .main--layout .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main--layout .fa-headset {
    font-size: 2.5em;
  }

  .main--layout .row p,h3 {
    margin: 0 1em;
  }

/* main--layout part END*/

/* COURSE--CATEGORIES part */

.course--categories .lectors--cards {
  margin-bottom: 3%;
  margin-left: 5%;
  width: 90%;
  margin-right: 5%;
}

.course--categories .lectors--cards img {
  height: 12em;
}

.course--categories .lectors h2 {
  padding-top: 1sem;
}

.course--categories .lectors .card--info {
  padding: 1em;
  margin-top: -1em;
  height: fit-content;
}

.course--categories .lectors--cards h4 {
  border-bottom: none;
  padding: 0;
}

.course--categories .lectors--cards .courses {
  margin: 0 1%;
}

.course--categories .lectors--cards .fas {
  padding-right: 0.3em;
  color: #e95721;
}

/* COURSE--CATEGORIES part END */

/* gallery--navigation part */

.campus--gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.gallery--navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  margin: 2% 0;
  border-bottom: 0.001em solid rgba(133, 133, 133, 0.247);
}

.gallery--navigation .item {
  padding: 1em;  
  font-weight: 600;
  cursor: pointer;
}

.gallery--navigation .highlited {
  color: #e95721;
  font-weight: 700;
  border-bottom: 0.2em solid #e95721;
}

.gallery--photos {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.gallery--photos .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery--photos .holder{
  width: 25em;
  height: 25em;
  margin: 1em;
  position: relative;  
}

.gallery--photos .holder img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

.gallery--photos .holder::after {
  content: '\A';
  position: absolute;
  width: 100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}

.gallery--photos .holder:hover:after {
  opacity: 1;
}

.gallery--photos .holder:hover .description {
  display: block;
}

.gallery--photos .description {
  position: relative;
  padding: 3em;
  top:-25em;
  color: white;
  display: none;
  z-index: 2;
}

.gallery--photos .description button {
  position: relative;
  left: 13em;
  top:8em;
  cursor: pointer;
}


/* gallery--navigation part END */

/* events--upcoming part */

.events--upcoming {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}

.events--upcoming .button--bottom {
  background: none;
  color: black;
  margin: 2% 0;
  border: 0.01em solid rgba(133, 133, 133, 0.247);
  box-shadow: rgba(0, 0, 0, 0.52) 0 0.5em 1em 0;
}

.events--upcoming .row {
  display: flex;
  margin-top: 0.4em;
  flex-direction: row;
  align-items: center;
}
.events--upcoming .row p {
  margin: 0;
}

.events--upcoming .row .fas {
  color: #e95721;
  margin: 0 0.5em;
}

.events--upcoming .column {
  display: flex;
  flex-direction: column;
}

.events--upcoming .conferences {
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: space-between;
  margin-left: 2%;
}

.events--upcoming .conferences .content {
  margin-top: 0;
  margin-bottom: 0;
}

.button--events {
  margin-top: 4%;
}

.events--upcoming .events--display{
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.events--upcoming .event--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: 40em;
}

.events--upcoming .event--main .frame--price {
  left:17em;
  top:-6.8em;
  font-size: 1.8em;
}

.events--upcoming .event--main .text {
  display: flex;
  background-color: #e9f3f7;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.events--upcoming .event--main .image--main {
  width: 100%;
}

/* events--upcoming part END */

/* INSTRUCTOR--RECRUITMENT part */

.instructor--recruitment {
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructor--recruitment .row {  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.instructor--recruitment .column {  
  display: flex;
  flex-direction: column;
  min-width: 15em;
  width: 50%;
  padding: 1em;
  align-items: center;
  text-align: center;

}

.instructor--recruitment .text { 
  width: 100%;
}

.instructor--recruitment .white { 
  background-color: white;
  color: black;
  box-shadow: black 1em;
}

.instructor--recruitment .left {  
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 5%;
}

.instructor--recruitment .img--main {
  width: 80%;
  position: relative;
  z-index: 0;
}

.instructor--recruitment .holder {
  height: 0;
}

.instructor--recruitment .img--secondary {
  width: 40%;
  position: relative;
  z-index: 1;
  top:-7em;
  left:50%;
}

.instructor--recruitment .icon--big {
  font-size: 3em;
  color: #e95721;
}

.instructor--recruitment .standart--heading {  
  text-align: left;
}
.instructor--recruitment .right {  
  display: flex;
  flex-direction: column;
  width: 90%;
}

/* INSTRUCTOR--RECRUITMENT part END */

li{
  margin: 0px 0px 10px 0px;
}

.center-content{
  margin-left: 20%;
  margin-right: 20%;
}




  .top-background {
    position: relative;
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-left: none;
    box-sizing: border-box;
    z-index: -1
  }

  .sponsors {
    font-size: 64px;
    color: white;
    text-align: center;
    padding: 60px 0;
  }
  
  .spacer {
    width:auto;
    height: fit-content;
    background-color: aliceblue;
    margin-bottom: -1em;
  }
  
  .spacer img {
    width: 100%;
    object-fit: cover;
    
  }

  /* --------------------------------------------------------*/

  /* header part */
 
  nav {
    width: 100%;
    background-color: #e9f3f7;
    font-size: 18px;
    line-height: 22px;
    color: #062a35;
    font-weight: 500;
    font-family: "Roboto";
    padding-bottom: 10px;
    padding: 20px;
    position: relative;
    z-index: 3;
  }

  nav a:visited {
    color: inherit;
  }

  .nav--main nav {
    background-color: none;
  }

  nav .top__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 34px;
    color: #062a35;    
    float: left;
    vertical-align: middle;
  }

  .navigation {
    display: inline;
    width: 100%;
    justify-content: space-between;
    z-index:2;
  }



  .dropbtnalt {
    color: black;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .dropdown {
    position: relative;
    display: inline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-top: #e95721 0.2em solid ;
    z-index: 3;
  }
  
  .dropdown-content a {
    color: gray;
    background: rgb(255, 255, 255);
    padding: 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {color: white; background: #e95721;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {color:dodgerblue;}
  .dropdown:hover .dropbtnalt {color: #e95721;}

  .downarrow {
    display: none;
  }

  .heading {
    display: inline-flex;    
    text-align: center;
  }
  
  .heading .signin {
    display: none;
    height: 50px;
  }

  .login {
    display: none;
  }


  nav .media {
    background-color: white;
    margin: 0.2em;
    display: flex;
    padding: 0 1em;
    color: #e95721;
    justify-content: center;
    align-items: center;
  }

  .login .orange {
    background-color: #e95721;
  }

  .fa-facebook-f {    
    color: #ffffff;
    width: 0.8em;
  }

  nav .fa-youtube {
    color: red;
  }

  .login .transparent {
    background: none;
    margin-left: 1em;
  }

  nav img {
    vertical-align: middle;
        align-self: center;
    height: 40px;
  }

  .signin {
    display: inline-flex;    
    background-color: white;
  }

  .signin .text {
    white-space: nowrap;
    vertical-align: middle;
    line-height: 28px;
    padding: 10px;
    padding-right: 20px;
  }


  /* header part END */

  /* --------------------------------------------------------*/

  /* footer part */  
  footer {
    color: white;
    position: relative;
    overflow: hidden;
    height: fit-content;
    background-color: #052935;
    resize: vertical;
    overflow: auto;
    width: 100%;    
  }


  footer .holder {
    height: 0;
  }

  footer .roll {
    top: -20em;
    left: 85%;
    background-color:#3473f0;
    position: relative;
  }
  
  footer .content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
  }

  footer .top {
    display: inline;    
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }

  .top__logo{
    font-size: 45px;
    letter-spacing: 0.01em;
    line-height: 50px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Roboto";
    width: 100%;
    justify-content: center;
  }

  .top__logo span {    
    font-weight: 900;
  }

  .top__logo img {
    height: 1.3em;
    padding-right: 20px;    
    align-self: center;
  }

  .top__logo .text {
    display: inline-block;
    align-self: center;
  }

  .top__socials {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;    
    width: 100%;
  }

  .top__socials .text {
    padding-left: 0;
  }

  .top .media{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background: none;
    font-size: 1.2em;
    line-height: 22px;
    color: #ffffff;
    font-family: "Font Awesome5 Brands";
    vertical-align: middle;
  }

   .magenta {
    background-color: magenta;
  }

   .red {
    background-color: red;
  }

   .lblue {
    background-color: #1DA1F2;
  }

   .dblue {
    background-color: #4267B2;
  }

  .top__socials .fa-youtube {
    color: white;
  }

  .icon {
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.6em;
    height: 1.6em;
    margin-right: 0.5em;
    justify-content: center;
    display: flex;
    align-items: center;
  }



  footer .legend {
    display: inline;
    width: 100%;
    justify-content: space-between;
    border-top: #e9562152 0.05em solid;;
  }

  .legend .group {
    padding: 20px;
    
    text-align: center;
  }

  .legend .heading {
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "IBM Plex Sans";
  }

  .legend ul {
    font-size: 1.2em;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
    list-style-type:none; 
    padding-left: 0; 
    width: max-content;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }

  .legend li {
    
    text-align: center;
    white-space: nowrap;
  }

  .group__input {
    min-width: 300px;
  }

  .group__input p {
    font-size: 15px;
    line-height: 32px;
    color: #a3b5c3;
    font-weight: 400;
    font-family: "Hind";
  }

  .group__input .input {
    width: 100%;
    display: inline-flex;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #0b3541;
    color: aliceblue;
    font-size: large;
    border: none;
  }

  .defbutton {
    color: rgb(255, 255, 255);
    background-color: #e95721;
    font-size: 1em;
    height: 4em;
    font-weight: 700;
    width: fit-content;
    padding: 12px 40px;
    white-space: nowrap;
    cursor: pointer;
    margin: 8px 0;
    border: none;    
  }
  
  .embig{    
    vertical-align: middle;
    font-size: 2em;
  }

  footer .copyright {
    font-size: 15px;
    line-height: 32px;
    color: #94a7b5;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    background-color: #0b3541;
  }
  /* footer part END */



   /* tablet */

  @media (min-width: 576px) {
   

    .nav-menu{
       display: inline-flex;
    }

    .main--search {
      left:20%;
      padding-top: 0;
      width: 70%;   
      top: 5%;
      margin-top: 20%;
    }
    
    nav{
      position: fixed;
    }

    .location {
      margin-top: 8em;
    }

    .experience .secondary--img {
      display: block;
    }

    .experience .left {

    }

    .experience .right {
    
    }

    .downarrow {
      display: inline;
      vertical-align: text-top;
      
      font-weight: bold;
      font-size: 0.8em;
    }
    
    footer .content {
      margin-left: 10%;
      margin-right: 10%;
    }

    .navigation {
      display: inline-flex;
    }

    .dropbtnalt{
      margin-right: 20px;
    }
    
    

    .heading .signin {
      display: flex;
      float: right;
    }

    nav .heading{
      width: 100%;
    }


  }

  @media only screen and (min-width: 996px) {
    
    .main--search {
      width: 45%;      
      left: 55%;
      background: none;
    }

    .experience .right {
      margin-left: 10%;
    }

    footer .content {
      margin: 3% 20%;
    }

    .faq--questions {
      flex-direction: row;
     }

     .faq--questions .card {
       margin: 1;
     }

     .right--align {
      margin-left: 5%;
      margin-right: 0;
    }

    .faq--questions .faq--list {
      margin: 0 5%;
    }

    .career--info {
      flex-direction: row;  
      height: 30em;
    }
    
     

  }

  /* Rozumny min rozmer monitoru */
  @media only screen and (min-width: 1200px) {
    
    nav{
      display: inline-flex;
    }

    .main--search {
      width: 35%;
      top:0%;
      margin-top: 10%;
    }

    .statistics {
      position: absolute;
    }

    .statistics .card{
      top:-4em;
    }
    
    .location {
      margin-top: 6em;
    }

    .events--upcoming .events--display{
      flex-wrap: nowrap;
      align-items: initial;
    }

    .events--upcoming .event--main {
      margin: 0;
    }

    .feedback .reviews {
      flex-direction: row;
    }

    .reviews .left {
      width: 55%;
    }

    .instructor--recruitment {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    .instructor--recruitment .left {  
      width: 50%;
    }

    .instructor--recruitment .right {  
      width: 50%;
    }

    .instructor--recruitment .row{
      flex-wrap: nowrap;
      text-align: left;
      justify-content: space-between;
    }

    .instructor--recruitment .column{
      text-align: left;
      align-items: flex-start;
    }

    .instructor--recruitment .border {
      border-right: 0.01em solid rgba(133, 133, 133, 0.247);
    }
    
    .experience {
      flex-direction: row;
    }

    .goals {
      flex-direction: row;
    }

    .goals .left {
      width: 50%;
    }
    
    .goals .right {
      width: 100%;
    }

    .event--heading .holder{
      width: 100%;
    }

    .event--heading .buttons {
      width: fit-content;
    }

    .event--heading {
      flex-direction: row;
    }

    .course--detail {
      flex-direction: row;
    }

    .course--detail section {
      margin: 5%;
      width: 90%;
      height: fit-content;
    }

    .course--detail aside {
        width: 50%;
    }
    
    .row--main {
      display: flex;
      flex-direction: row;
    }

    .instructor--cards .card {
      min-width: 20em;
    }

    .instructor--cards .education{
      width: 60em;
    }

    .blog--layout {
      flex-direction: row;
    }

    .blog--layout .column--secondary {
      width: 50%;
    }

    .contact {
      flex-direction: row;
    }

    .form--message .credentials {
      justify-content: space-between;
    }


    .instructor--cards .centered{
      height: 100%;
    }

    .instructor--cards .holder{
      justify-content: center;
    }

    .heading .signin {
      display: none;
    }

    .navigation {
      justify-content: flex-start;
      align-self:center;
    }

    footer .legend {
      display: inline-flex;
    }

    footer .top {
      display: inline-flex;
      align-items: center;
    }
    
    .top__socials {      
      margin-left: 3%;      
      justify-content: space-between;
      flex-wrap:nowrap;
    }

    .legend .group {
      text-align: left;
    }

    .top__logo{
      width: fit-content;
      justify-content: left;
    }

    .login {
      display: inline-flex;
      justify-content: space-between;
    }

    nav .heading{
      width: fit-content;      
      margin-right: 5em;
    }

    nav .heading a{
      display: flex;
      flex-direction: row;
    }

    nav .media img {
      align-self: center;
      height: 40px;
    }

  
  }


  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 3em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.877);
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1080px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 0.5em;
    right: 1em;
    font-size: 2em;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    cursor: pointer;
    color: #e95721;
  }
  
  .image--slide {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 0.5em;
    margin-top: -50px;
    color: white;
    font-weight: 700;
    font-size: 2em;
    transition: 0.6s ease;
    border-radius: 0 1em 1em 0;
    user-select: none;
    -webkit-user-select: none;    
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .prev:hover,
  .next:hover{
    background-color: #e95721;
  }

  .next {
    right: 0;
    border-radius: 1em 0 0 1em;    
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  